* {
margin : 0;
padding : 0;
box-sizing : border-box;
}
html,body {
width: 100%;
height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 20%;
    top: 40%;


}
h1{
    margin-bottom: 20px;
    font-size: 40px;
}
input{
    padding: 10px 20px;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
}
h3{
    margin-top: 20px;
}